# Gerçek değerler prepare-docker-data.sh tarafından üretilecektir.
ROUNDCUBEMAIL_DB_TYPE=mysql
ROUNDCUBEMAIL_DB_HOST=db
ROUNDCUBEMAIL_DB_PORT=3306
ROUNDCUBEMAIL_DB_USER=roundcube
ROUNDCUBEMAIL_DB_PASSWORD=YERELDE_URETILECEK_ROUNDCUBE_PAROLASI
ROUNDCUBEMAIL_DB_NAME=roundcube
